body {
  margin: 0;
  padding:0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
  overflow-x: hidden;

  .by {
    text-align: center;
    position: relative;
  }

  .fa-dice-d6 {
    font-size: 4rem;
    background: none;
    outline: none;
    border: none;
    transform: rotate(360deg);
}

  #main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
    margin: 0 auto;
  }

  #brief {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 33vw;
    margin: 1rem auto;
    padding: 1rem;
    text-align: left;
  }

  .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      border-radius: 0.5rem;
      width: 100%;
      margin: 1rem;
      padding: 1rem;
      box-shadow: 0px 0px 0.5rem 0px #b1b1b1;

    .desc {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
    }

    .desc div {
        font-size: 1rem;
        font-weight: 800;
        padding: 0.5rem;
    }

    .color__box {
        width: 75%;
        padding-top: 75%;
        margin: 1rem auto;
    }

    .fa-palette {
        transform: rotate(270deg);
    }

  }

  .btn {
    background: none;
    border: 0.1rem solid #1a1a1a;
    outline: none;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .top__desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .challenge {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
    margin: 1rem;
  }

}

@media screen and (max-width: 600px) {
  body #main {
    display:flex;
    flex-direction: column;
    width: 100vw;
  }

  body .box {
    width: 75%;
    margin: 1rem auto;
  }

  body #brief {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  body .font, .business, .name {
    height: 25vh;
  }

}